.list-row {
    display: table-row;
    transition: all 0.3s;
    border-radius: 20px;
}

.list-row:hover {
    outline: 2px solid var(--primary-highlight);
    background-color: var(--primary-bg);
}

.list-row td {
    padding: 1rem 1.5rem;
    vertical-align: middle;
    text-align: left;
    transition: all 0.3s;
}

/* Image inside the td */
.td-img {
    width: 2.5rem !important;
    object-fit: contain;
    margin-right: 2rem;
}

/* Coin name and short code */
.name-col {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

/* For center aligned td (like change % and icon) */
.td-center-align {
    text-align: center;
}

/* Show this only on mobile */
.mobile-td-mkt {
    display: none;
}

/* For right-aligned td like price or volume */
.td-right-align {
    text-align: right;
}

/* Responsive styles */
@media only screen and (max-width: 1100px) {
    .td-icon {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .td-total-volume {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .desktop-td-mkt {
        display: none;
    }

    .mobile-td-mkt {
        display: block;
    }
}
